[{sharded_eredis, 
  [
    {global_or_local, local},
    {pools, [
	{r0, [ {size,2 }, {max_overflow, 30},{host,"192.168.0.68"},{port,6379} ]}, 
	{r1, [ {size,2 }, {max_overflow, 30},{host,"192.168.0.68"},{port,6380} ]}, 
	{r2, [ {size,2 }, {max_overflow, 30},{host,"192.168.0.68"},{port,6381} ]}, 
	{r3, [ {size,2 }, {max_overflow, 30},{host,"192.168.0.68"},{port,6382} ]}, 
	{r4, [ {size,2 }, {max_overflow, 30},{host,"192.168.0.68"},{port,6383} ]} 
    ]}
  ]
}].
